.pager {
  padding: 5px 0;
}
.pager .next > a {
  outline: 0;
  box-shadow: 0 0 0 0 black;
  margin: 0 auto;
}
.pager-container {
  margin-top: 0;
}
.btn-site {
  @include SansSerif();
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  font-weight: 800;
  box-sizing: border-box;
}
.editor-container {
  @include SansSerif();
  & label {
    font-size: 30px;
  }
  & input[type="text"], & input[type="password"] {
    border-radius: 0;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    outline: 0;
  }
  & textarea {
    height: 400px;
  }
}
.btn-editor {
  @include SansSerif();
  width: 100%;
  font-weight: 800;
  padding: 5px 0;
  font-size: 30px;
  &:hover {
    text-decoration: underline;
  }
}
.form-group {
  margin: 40px 0;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  // background-color: $white--darken;
}
pre {
  border: 0px solid transparent;
  border-radius: 0px;
}
.site-heading__about {
  & > h3, & > h4, & > h5 {
    text-align: left;
  }
  & > h2 {
    text-align: center;
    margin: 80px 0;
  }
  & a {
    text-decoration: underline;
  }
}
.tag-error {
  @include flex(center, center, column);
  width: 100%;
  & a {
    text-decoration: underline;
  }
  & input {
    @include SansSerif();
    margin-top: 30px;
    font-size: 40px;
    border-radius: 0;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    outline: 0;
  }
}
.tags-container {
  & a {
    @include SansSerif();
    font-size: 30px;
  }
}
a.site-link {
  @include SansSerif();
}
.status-message {
  width: 100%;
  padding: 10px;
}
.error-red {
  width: 100%;
  padding: 10px;
  text-align: center;
}

button:active, button:focus {
  outline: 0;
}

@media only screen and (max-width: 767px) {
  .navbar-custom .nav li a {
    padding: 20px;
  }
  .navbar-custom .navbar-header .navbar-toggle {
    border-radius: 0px;
  }
  .navbar-fixed-top {
    transition: all 500ms ease;
  }
}

.btn-media {
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}