@import "mixins";

$black: black;
$black--light: rgb(120,120,120);

$white: white;
$white--darken: rgb(130,130,130);

$green: #00FF66;

$blue: #00CCFF;

$purple: #FF00FF;

$yellow: yellow;

$red: red;
$red--light: lighten($red, 30);

// Site Theme
$modal--overlay: rgba(0,0,0,0.5);

body {
    color: $black;
    background-color: $yellow;
}
a {
  color: $black;
}
a:hover,
a:focus {
  color: black; //#0085A1
}
.row h2,
.row h3 {
  color: $blue;
} 

.intro-header .site-heading {
  color: $yellow;
  & h1 {
    text-shadow: 6px 6px 0 $green;
  }
  & .subheading {
    color: $green;
  }
}

.row div,
.post-preview > a > .post-subtitle,
footer .copyright {
  color: $blue;
}

.row ul,
.row ol,
.row p {
    color: $black;
}

.intro-header .post-heading h4 {
  color: $purple;
}

.intro-header .post-heading h1,
.post-preview > a > .post-title {
  color: $purple;
  text-shadow: 2px 2px 0 $blue;
}

a,
.row a,
.navbar-custom .navbar-brand,
.navbar-custom .nav li a,
.post-meta > a {
  color: $blue;
}

p.post-meta {
  color: $green;
}

.site-heading > hr.small, hr {
  border-color: $purple;
}

.pager .next > a {
  background-color: $green;
  color: $white;
  transition: all 200ms ease;
}

.pager li > a:hover, .pager li > a:active {
  box-shadow: 0 0 0 5px $purple;
  background-color: $green;
  color: $white;
}

.fa-inverse {
  color: $yellow;
}
.fa-circle {
  color: $blue;
}

.fa-stack {
  &:hover {
    color: $blue;
  }
}
input {
  color: black;
}
.btn-site {
  border: 1px solid black;
  background-color: $white;
  &:hover {
    color: $blue;
  }
}
.editor-container {
  & input[type="text"], & input[type="password"] {
    &::placeholder {
      color: $white--darken;
    }
  }
}
.btn-editor {
  border: 1px solid black;
  background-color: $white;
}
.btn-submit {
  &:hover {
    color: $green;
    border: 1px solid $green;
  }
}
.btn-delete {
  &:hover {
    color: $red;
    border: 1px solid $red;
  }
}
.site-heading__about {
    & h2, & h4 {
       color: $blue;
    }
  & a {
    color: $purple;
    &:hover {
      color: $purple;
    }
  }
}
.tag-error {
  & a {
    color: $blue;
    text-decoration: underline;
    &:hover {
      color: $blue;
    }
  }
  & input {
    &::placeholder {
      color: $white--darken;
    }
  }
}
.tags-container {
  & a {
    color: $blue;
    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }
}
a.site-link {
  color: $blue;
  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}
.status-message {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}
.status-code {
  color: $red;
}
.error-red {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: $red;
  color: $white;
}

button:active, button:focus {
  outline: 0;
}

@media only screen and (max-width: 767px) {
  .navbar-custom {
    background: white;
    border-bottom: 1px solid black;
  }
  .navbar-custom .navbar-brand {
    color: $black;
    // padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: $black;
  }
  .navbar-custom .nav li:not(:last-child) {
    border-bottom: 1px solid $black;
  }
  .navbar-custom .nav li a {
    color: $black;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: $black;
  }
  .navbar-custom .nav li ul.dropdown-menu a {
    color: $black;
  }
  .navbar-custom .nav li ul.dropdown-menu a:hover,
  .navbar-custom .nav li ul.dropdown-menu a:focus {
    color: $black;
  }
  .navbar-custom .navbar-header .navbar-toggle {
    color: $black;
    background-color: $white;
    border-radius: 0px;
    border-color: $black;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $black;
  }

  .navbar-fixed-top {
    transition: all 500ms ease;
  }
}

.btn-media {
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.theme--item {
    @include flex(center, center, column);
    & h1 {
        width: 100%;
        text-align: right;
    }
    form {
        width: 100%;
    }
    button {
        @include MonoSpace();
        width: 100%;
        margin: 15px 0;
        padding: 10px;
        color: $white;
        border: 0px solid transparent;
        background-color: $green;
        box-sizing: border-box;
        transition: all 300ms ease;
        &:hover {
            box-shadow: 0 0 0 5px $blue;
        }
    }
}

